.header{
    font-size: large;
    color: white;
    background-image: url('../img file/header.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 2em 4em;
    min-height: 4cm;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    list-style-type: none;
    background-color: darkslategray;
    margin:0;
    padding:0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 14px 16px;
}
li a:hover{
    background-color: teal;
}
li a.active{
    background-color: lightseagreen;
}
.body{
    font-size: xx-large;
    background-image: url('../img file/logo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em 4em;
    min-height: 5cm;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: darkcyan;
    margin: 10px;
    border-style: double;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    width: 1000px;
    border-width: 15px;
    opacity: 0.8;
    text-align: center;
}
.footer{
    color: white;
    background-color: darkcyan;
    text-align: center;
    padding: 2em 4em;
    min-height: 2cm;
    font-family: 'Times New Roman', Times, serif;
}